* {
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  background-color: white;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10vmin;
  text-align: right;
  background-color: black;
  color: white;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5vmin;
  text-align: center;
  color: black;
}

nav {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vmin;
  text-align: left;
  background-color: black;
  color: white;
}

div {
  text-align: center;
  align-content: center;
}

img {
  filter: grayscale(50%);
  border-radius: 100vmin;
  height: 60vmin;
  width: 60vmin;
}

a {
  color: red;
}

#btn {
  align-items: center;
}